.language {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  z-index: 2000;
  color: white;
  text-align: center;
}
.titleWrapper {
  width: 50%;
  height: 60%;
  position: absolute;
  bottom: 20%;
  left: 25%;
}

#blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#instructions {
  width: 100%;
  height: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: box;

  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;

  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;

  color: #ffffff;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  line-height: 24px;

  cursor: pointer;
}

.popup {
  width: 50%;
  height: 60%;
  position: absolute;
  bottom: 20%;
  left: 25%;
  z-index: 1109;
}
.popupImg {
  background-image: url("../img/popupbg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.7;
  z-index: 1108;
  width: 100%;
  height: 100%;
}
.popupText {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  font-size: 1.6vw;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  line-height: 300%;
  z-index: 1109;
  margin: 5px 20px 5px 20px;
}
.popupVR1 {
  width: 25%;
  height: 60%;
  position: absolute;
  bottom: 20%;
  left: 12.5%;
  z-index: 1109;
}
.popupImgVR1 {
  background-image: url("../img/popupbg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.7;
  z-index: 1108;
  width: 100%;
  height: 100%;
}
.popupTextVR1 {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  font-size: 0.8vw;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  line-height: 300%;
  z-index: 1109;
  margin: 5px 20px 5px 20px;
}
.popupVR2 {
  width: 25%;
  height: 60%;
  position: absolute;
  bottom: 20%;
  left: 62.5%;
  z-index: 1109;
}
.popupImgVR2 {
  background-image: url("../img/popupbg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.7;
  z-index: 1108;
  width: 100%;
  height: 100%;
}
.popupTextVR2 {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  font-size: 0.8vw;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  line-height: 300%;
  z-index: 1109;
  margin: 5px 20px 5px 20px;
}

.highlight {
  color: rgba(255, 0, 0, 0.7);
  font-size: 1.2em;
}

.tip {
  color: rgba(100, 100, 100, 0.7);
  font-size: 0.8em;
}

.crosshairWrapper {
  position: absolute;
  bottom: 49.55%;
  left: 49.75%;
  height: 0.9%;
  width: 0.5%;
}

.crosshairWrapperVR1 {
  position: absolute;
  bottom: 49.55%;
  left: 24.75%;
  height: 0.9%;
  width: 0.5%;
}

.crosshairWrapperVR2 {
  position: absolute;
  bottom: 49.55%;
  left: 74.75%;
  height: 0.9%;
  width: 0.5%;
}

.crosshairOne {
  position: absolute;
  margin: auto;
  bottom: 35%;
  width: 100%;
  height: 30%;
  background-color: rgba(0, 255, 0, 0.2);
}

.crosshairTwo {
  position: absolute;
  margin: auto;
  left: 35%;
  width: 30%;
  height: 100%;
  background-color: rgba(0, 255, 0, 0.2);
}

#loading {
  position: absolute;
  bottom: 6.5%;
  left: 79%;
  height: 3%;
  width: 16%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.7);
  z-index: 1109;
}

.loadingBar {
  position: absolute;
  left: 0%;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.loadingText {
  position: absolute;
  text-align: center;
  height: 80%;
  bottom: 10%;
  width: 100%;
  color: white;
  font-weight: 800;
  font-size: 0.8vw;
}

.languageButton {
  border: none;
  color: white;
  padding: 16px 32px;
  width: 120px;
  height: 55px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.korButton {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.korButton:hover {
  background-color: #4caf50;
  color: white;
}

.engButton {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
}

.engButton:hover {
  background-color: #008cba;
  color: white;
}

.story {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  z-index: 1108;
}

.storyText {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  font-size: 0.8vw;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  line-height: 200%;
  z-index: 1109;
  margin: 5px 20px 5px 20px;
}

.storyStartBg {
  background-image: url("../img/storyStartbg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.7;
  z-index: 1108;
  width: 100%;
  height: 100%;
}
.storyEndBg {
  background-image: url("../img/storyEndbg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.7;
  z-index: 1108;
  width: 100%;
  height: 100%;
}
